.footer {
  background-color: #1e1e1e;
  color: #ccc;
  padding: 0.5rem 0.5rem 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.footer-column h4 {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  color: #ffffff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 0.4rem;
}

.footer-column a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column a:hover {
  color: #ffffff;
}

/* Plik: Footer.css */

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
  color: #FFFFFF; /* Zmienione z #888 na biały */
}

.footer-legal {
  text-align: center;
  font-size: 0.75rem;
  color: #FFFFFF; /* Zmienione z #999 na biały */
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-legal a {
  color: #007bff; /* Zmienione z #bbb na standardowy niebieski dla linków */
  text-decoration: none;
  margin: 0 4px;
}

.footer-legal a:hover {
  color: #66b2ff; /* Jasniejszy niebieski dla hover, żeby było widać interakcję */
}
@media (max-width: 768px) {
  .footer-top {
padding: 0.5rem 0.5rem 0.5rem;
    flex-direction: column; /* Kolumny stopki jedna pod drugą */
    align-items: center; /* Wyśrodkuj kolumny */
  }

  .footer-column {
max-height: 120px;
    margin-bottom: 1.5rem; /* Odstęp między kolumnami */
    text-align: center; /* Wyśrodkuj tekst w kolumnach */
  }
}