/* src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif; /* Globalna czcionka */
  box-sizing: border-box; /* Ważne dla modelu pudełkowego */
  overflow-x: hidden; /* Zapobiega poziomemu przewijaniu */
}

/* Upewnij się, że box-sizing jest dziedziczony przez wszystkie elementy */
*, *::before, *::after {
  box-sizing: inherit;
}
